<h1>Accounts</h1>

<button>
  <%= link_to '新增 Account', new_admin_account_path %>
</button>

<table>
  <thead>
    <tr>
      <th colspan="2">actions</th>
      <th>name</th>
      <th>currency</th>
      <th>balance</th>
      <th>exchange_rate</th>
      <th>balance_in_twd</th>
      <th>updated_at</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to('edit', edit_admin_account_path(account)) %></td>
        <td><%= link_to 'delete', admin_account_path(account), method: :delete, data: { confirm: "Are you sure?" } %></td>
        <td><%= link_to(account.name, admin_account_path(account)) %></td>
        <td><%= account.currency %></td>
        <td><%= account.balance %></td>
        <td><%= account.exchange_rate %></td>
        <td><%= account.balance_in_twd %></td>
        <td><%= account.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
