<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>currency</th>
      <th>exchange_rate</th>
      <th>balance</th>
      <th>updated_at</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.currency %></td>
        <td><%= account.exchange_rate %></td>
        <td><%= account.balance %></td>
        <td><%= account.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

