<div>
  <h1>Account - <%= @account.name %></h1>
  <p>
    <%= "#{@account.currency} #{@account.balance} (exchange_rate: #{@account.exchange_rate})" %>
  </p>
</div>

<div>
  <h2>Transactions</h2>

  <table>
    <thead>
      <tr>
        <th colspan="2">actions</th>
        <th>date</th>
        <th>category</th>
        <th>note</th>
        <th>收入</th>
        <th>支出</th>
        <th>轉帳</th>
        <th>current_balance</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= link_to('edit', edit_admin_transaction_path(transaction)) %></td>
          <td><%= link_to('delete',
                          admin_transaction_path(transaction),
                          method: :delete,
                          data: { confirm: "Are you sure?" }) %></td>
          <td><%= render_date(transaction) %></td>
          <td><%= transaction.category %></td>
          <td><%= transaction.note %></td>
          <td><%= render_number_to_currency(transaction.income) %></td>
          <td><%= render_number_to_currency(transaction.expense) %></td>
          <td><%= render_number_to_currency(transaction.transfer) %></td>
          <td><%= render_number_to_currency(transaction.current_balance) %></td>
          <td><%= render_updated_at(transaction.updated_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to '回到 Accounts 列表', admin_accounts_path %>
