<ul class="list-unstyled side-nav">
  <li class="dropdown">
    <%= link_to content_tag(:i, "", class: "fa fa-dollar") +
                "Accounts " +
                content_tag(:i, "", class: "fa fa-angle-down"),
                "#",
                class: "dropdown-toggle",
                data: {toggle: "dropdown"} %>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
      <% account_categories.each do |category| %>
        <li class="dropdown-submenu">
          <%= link_to category, "#", tabindex: "-1" %>
          <ul class="dropdown-menu">
            <% accounts.each do |account| %>
              <li>
                <%= link_to account.name, admin_account_path(account) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </li>
  <li class="dropdown">
    <%= link_to content_tag(:i, "", class: "fa fa-dollar")+"All Accounts",
                admin_accounts_path %>
  </li>
  <li class="dropdown">
    <%= link_to content_tag(:i, "", class: "fa fa-dollar")+"All Transactions",
                admin_transactions_path %>
  </li>
</ul>
